@import "compass/css3";

@import url('https://fonts.googleapis.com/css?family=Limelight');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font: 14px/1 'Limelight', sans-serif;
  color: rgb(55, 55, 55);
  background: lightgray
}

.gallery {
  width: 690px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  width: 220px;
  height: 180px;
  transition: .1s transform;
  transform: translateZ(0); 
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.8,1.8);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 24px;
  text-align: center;
}

.subtitulo {
  margin: 40px 0;
  text-align: center
}

.texto {
  font-size: 8px;
  text-align: center;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}